
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
  
#root {
    display: flex;
}

.dlt-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.dlt-sider {
    color: '#fff';
    background-color: '#3ba0e9';
}

.dlt-header {
    color: '#fff' !important;
    background-color: 'red' !important;
}

.dlt-content {
    color: '#fff';
    background-color: '#108ee9';
}

.dlt-footer {
    color: '#fff';
    background-color: '#7dbcea';
}